.App{
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  text-align: center;

  --background-item-color:#2c2c2c ;
  --primary-color:#277FF3;
  --destak-color: #0000;
}

.content{
  display: flex;
}

